.container {
    max-width: 1200px;
    margin: auto;
}

.items {
    text-align: center;
    margin-top: 50px;
    margin-left: -30px;
}

.title {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    padding-left: 20px;
    padding-top: 50px;
    color: #444;
    user-select: none;
    cursor: default;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 38px;
        text-align: center;
        padding-left: 0;
    }
}
