/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(white, #fff0e4);
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lato', serif;
}

img {
    width: 500px;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100vw;
        font-size: 1.5rem;
    }

    img {
        width: 100vw;
    }
}

@font-face {
  font-family: 'Lato';
  src: url('lato.ttf');
}