.outer {
    max-width: 1200px;
    margin: auto;

    .subscriptionWrapper {
        padding: 2rem 4rem;
        margin-top: 2rem;
    }

    .title {
        font-family: "DM Serif Display", serif;
        font-size: 48px;
        padding-left: 20px;
        padding-top: 50px;
        color: var(--text-color);
        user-select: none;
        cursor: default;
    }

    .container {
        --spacing: 2rem;
        display: flex;
        gap: var(--spacing);
        background: var(--bg);
        padding: var(--spacing);
        margin: 4rem;
        border-radius: 0.5rem;
        position: relative;
        overflow: hidden;
        height: 25rem;
        max-width: 70rem;

        .show-more {
            width: 100%;
            height: 10rem;
            background: var(--bg-dark);
            mask-image: linear-gradient(transparent, var(--bg) calc(100% - 2rem));
            backdrop-filter: blur(2px);
            position: absolute;
            bottom: 0;

            &::after {
                content: "Pokaż Więcej";
                display: inline-block;
                position: absolute;
                text-decoration: underline;
                padding: 1rem;
                border-radius: 0.5rem;
                bottom: 0.5rem;
                left: calc(50% - var(--spacing));
                transform: translate(-50%, 0);
            }
        }
    }

    .container.full {
        height: unset;

        .show-more {
            display: none;
        }
    }

}


@media screen and (max-width: 800px) {
    .outer {
        .subscriptionWrapper {
            padding: 1rem 2rem;
            margin-top: 1rem;
        }

        .container {
            margin: 2rem;
            padding: 0;
            height: auto;
            flex-direction: column;
            background-color: transparent;

            .show-more {
                display: none;
            }
        }

        .title {
            font-size: 2.5rem;
            text-align: center;
            padding-left: 0;
        }
    }
}
