.card {
    position: relative;
    background-color: #ddd;
    padding: 1rem;
    margin-top: 5rem;
    flex: 1;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &.top {
        margin-top: 0;
    }

    .title {
        font-family: "DM Serif Display", serif;
        font-size: 2rem;
    }

    .price {
        font-family: "DM Serif Display", serif;
        font-size: 1.5rem;
    }

    .list {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .button {
        appearance: none;
        display: block;
        padding: 0.5rem 1rem;
        background-color: #000;
        text-align: center;
        color: white;
        border: none;
        width: 100%;
        max-width: 20rem;
        font-size: 1.25rem;
        font-family: "DM Serif Display", serif;
        border-radius: 0.5rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        transition: 100ms;

        &:hover {
            transform: scale(0.95);
        }
    }
}

@media screen and (max-width: 800px) {
    .card {
        margin-top: 0rem;
        background-color: #eee;
        border-radius: 0.5rem;
        overflow: hidden;
        max-height: 20rem;

        .show-more {
            width: calc(100% + 1rem);
            left: -1rem;
            height: 8rem;
            background: #eeeeeeee;
            mask-image: linear-gradient(transparent, #eee calc(100% - 3rem));
            backdrop-filter: blur(2px);
            position: absolute;
            bottom: 0;

            &::after {
                content: "Pokaż Więcej";
                width: 100%;
                text-align: center;
                display: inline-block;
                position: absolute;
                text-decoration: underline;
                padding: 1rem;
                border-radius: 0.5rem;
                bottom: 0.5rem;
                left: calc(50%);
                transform: translate(-50%, 0);
            }
        }
    }

    .card.full {
        max-height: unset;

        .show-more {
            display: none;
        }
    }
}
