* {
    --bg: #fff1eb;
    --bg-dark: #fbebe2;
    --bg-light: #fffaf7;
    --text-color: #665248;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--bg-light);
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
