.jumbotron {
    height: 500px;
    background-color: #eee;

    .container {
        max-width: 1200px;
        height: 500px;
        position: relative;
        margin: auto;

        .logo {
            position: absolute;
            padding: 10px;
        }

        .title {
            width: 50%;
            height: 100%;
            display: inline-block;
            position: relative;
            padding-left: 20px;

            .inner {
                position: relative;
                display: inline-block;
                transform: translate(0, -50%);
                font-size: 48px;
                top: 50%;

                .leaf {
                    display: inline-block;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    transform: translate(-250px, 30px);
                }

                .leafnd {
                    display: inline-block;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    transform: translate(-450px, -100px) scale(-0.6, -0.4) rotate(50deg);
                    filter: blur(5px);
                }

                .leafrd {
                    display: inline-block;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    transform: translate(-350px, -250px) scale(0.3, 0.3) rotate(60deg);
                    filter: blur(10px);
                }

                .leafth {
                    display: inline-block;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    transform: translate(-500px, -300px) scale(0.2, 0.2) rotate(-90deg);
                    filter: blur(18px);
                }

                .lato {
                    font-family: 'Lato';
                    font-weight: 300;
                }

                .playwrite {
                    font-family: 'Playwrite IS Variable';
                }

                .cta {
                    display: inline-block;
                    position: relative;
                    background: linear-gradient(-135deg, #e05093, #ff7b47);
                    font-family: 'Lato';
                    border-radius: 999px;
                    padding: 5px 10px;
                    color: white;
                    margin-top: 20px;
                    font-size: 24px;
                    box-shadow: #bbb 0 3px 5px;
                    cursor: pointer;
                    user-select: none;
                    transition: 200ms;
                    z-index: 10;

                    &:hover {
                        transform: translate(0, -3px) scale(1.05);
                        box-shadow: #bbb 0 5px 10px;
                    }
                }
            }
        }

        .image {
            display: inline-block;
            position: absolute;
            bottom: 0;
            width: 500px;
            height: 500px;
            vertical-align: top;
            user-select: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .jumbotron {
        .container {
            width: 100vw;
            margin: 0;
            text-align: center;

            .title {
                width: auto;
                /* text-align: center; */
                padding-left: 0px;

                .inner {
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 38px;
                }
            }

            .image {
                display: none;
            }
        }
    }
}
