.container {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 40px;
    vertical-align: middle;
}

.image {
    background-color: var(--bg);
    border-radius: 10px;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.title {
    max-width: 250px;
    word-break: break-word;
    font-family: "DM Serif Display";
    font-size: 1.25rem;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        transition: 100ms;

        &:hover {
            transform: scale(0.95);
        }
    }
}

a.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-top: 20px;
    margin-right: 5px;
    height: 50px;
    color: white;
    background-color: black;
    border: 1pt solid #333;
    font-family: "DM Serif Display";
    font-size: 24px;
}

a.get {
    display: inline-block;
    width: 120px;
    margin-top: 20px;
    margin-right: 5px;
    height: 50px;
    padding: 10px;
    color: #333;
    border: 1pt solid #333;
    border-radius: 10px;
}

a.demo {
    display: inline-block;
    width: 120px;
    margin-top: 20px;
    margin-left: 5px;
    padding: 4px;
    height: 50px;
    color: #333;
    border: 1pt solid #333;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-family: 'Lato';
}
