.container {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 40px;
}

.image {
    background-color: #eee;
    border-radius: 10px;
    position: relative;
    width: 250px;
    height: 250px;
}

.title {
    max-width: 250px;
    margin-top: 20px;
    word-break: break-word;
    font-family: "DM Serif Display";
    font-size: 24px;
}

a.buy {
    display: inline-block;
    width: 120px;
    margin-top: 20px;
    margin-right: 5px;
    height: 50px;
    padding: 10px;
    background: linear-gradient(90deg, #ffcd9e, #f36bb4);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 200ms;

    &:hover {
        transform: scale(1.1);
    }
}

a.demo {
    display: inline-block;
    width: 120px;
    margin-top: 20px;
    margin-left: 5px;
    padding: 4px;
    height: 50px;
    color: #333;
    border: 1pt solid #333;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: 200ms;
    font-family: 'Lato';
    font-weight: 300;

    &:hover {
        transform: scale(1.1);
    }
}
