.container {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 40px;
    vertical-align: middle;
}

.image {
    background-color: var(--bg);
    border-radius: 10px;
    position: relative;
    width: 210px;
    height: 297px;
    overflow: hidden;
}

.title {
    max-width: 210px;
    word-break: break-word;
    font-family: "DM Serif Display";
    font-size: 1.5rem;
    height: 75px;
    margin: 5px 0 7px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title.short {
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & a {
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        transition: 100ms;

        &:hover {
            transform: scale(0.95);
        }
    }
}

.lowestPrice {
    font-size: 0.5rem;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 210px;
    margin-top: 0.25rem;
    line-height: 1.2;
}

a.buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-right: 5px;
    height: 50px;
    color: white;
    background-color: black;
    border: 1pt solid #333;
    font-family: "DM Serif Display";
    font-size: 24px;
}

.originalPrice {
    font-size: 12px;
    text-decoration: line-through;
    text-decoration-color: red;
    opacity: 0.7;
    margin-bottom: -5px;
}

a.get {
    display: inline-block;
    width: 120px;
    margin-right: 5px;
    height: 50px;
    padding: 10px;
    color: #333;
    border: 1pt solid #333;
    border-radius: 10px;
}

a.demo {
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    padding: 4px;
    height: 50px;
    color: #333;
    border: 1pt solid #333;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    font-family: 'Lato';
}
